
h1{ color:red; }
#thirdDiv { height: 600px; width: 500px; background:lightskyblue; padding: 50px ;border-style: double; border-width: 20px; border-color: blue;}
img{ width: 400px }
#spanID { font-size: 18px; margin: 50px; }
